ion-card{
	text-align: center;
	align-content: center;
	align-self: center;
    background-color:rgb(21, 236, 14);
	img{
	  text-align: center;
	  align-content: center;
	  align-self: center;
	  max-width: 50%;
	  max-height: 50%;
	}
}

