<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ubicacion">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Ubicación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="grupo">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Grupo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mensajes">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="publicaciones">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Publicaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>