<app-header-guia titulo="Mi Grupo">
</app-header-guia>

    <ion-content class="ion-padding">

             <ion-grid fixed>
                <ion-row>
                  <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label >Fecha de Creación</ion-label>
                            <ion-input name="fechaCreacion"
                            required [(ngModel)]="grupo.fechaCreacion"                   
                                                   type="date"
                                                   ></ion-input>

                        </ion-item>
                        <ion-item>
                            <ion-label >Recorrido</ion-label>
                            <ion-input name="recorrido" 
                            required [(ngModel)]="grupo.recorrido"
                                    type="text"
                                     ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-select placeholder="Elija Sendero" 
                                (ionChange)="triggerEvent($event)"
                                [(ngModel)]="grupo.recorrido">
                                <ion-select-option value="flora">Flora</ion-select-option>
                                <ion-select-option value="mirador">Mirador del Potrero</ion-select-option>
                                <ion-select-option value="guanacos">Guanacos</ion-select-option>
                                <ion-select-option value="huellas">Huellas del Pasado</ion-select-option>
                                <ion-select-option value="farallones">Farallones</ion-select-option>
                              </ion-select>
                        </ion-item>
                        
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
    
                            <ion-chip *ngFor ="let usuario of listaUsuarios ;let indice=index" color="secondary"
                            (click)="cambiaColor(indice)">
                                <ion-label [color]="usuario.ciudad">{{usuario.apellido}}, {{usuario.nombre}}</ion-label>
                              </ion-chip>
                        </div>
                      </ion-col>


                </ion-row>
                <ion-row *ngIf="crearGrupoV">
                    <ion-col>
                        <ion-button expand="block" color="primary" (click)="crearGrupo()">Crear Grupo

                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="desarmarGrupoV">
                  <ion-col>
                      <ion-button expand="block" color="primary" (click)="desarmarGrupo()">DesarmarGrupo

                      </ion-button>
                  </ion-col>
              </ion-row>
               
              </ion-grid>

</ion-content>