<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/farallones.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Noticia 1</ion-card-subtitle>
            <ion-card-title>Caminata Guiada a los Farallones</ion-card-title>
            <ion-button (click)="onClick()" fill="clear">
              <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            
            
            Salimos desde el estacionamiento, el sábado 18 de diciembre, 8hs. Traer ropa y calzado adecuado.
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
