<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card *ngFor ="let publi of publicaciones">
          <img [src]="publi.urlImagen" />
          <ion-card-header>
            <ion-card-subtitle>{{publi.fechaCreacion.toDate().toISOString().slice(0,10)}}</ion-card-subtitle>
            <ion-card-title>{{publi.titulo}}</ion-card-title>
            <ion-button (click)="onClick()" fill="clear">
              <ion-icon slot="icon-only" name="heart" color="danger"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            {{publi.cuerpo}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
